body {
	margin: 10px;
	background-color:  #02010a;
	font-family: 'Dancing Script', cursive;
}
img {
	box-shadow: 2px 2px #02010a;
}

.contenido{
	display: flex;
	flex-direction: column;
	max-width: 900px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.cabecera {
  display: flex;
	flex-direction: row;
  align-items: baseline;
  background-color: #5b7989;
  color: white;
  border-radius: 10px 10px 0 0;
}
.cabecera h1{
  width: 70%;
}
.cabecera h1{
	margin-left: 30px;
  text-shadow: 2px 2px black;
}

#menu-pricipal a{
  width: 30%;
  color: white;
	margin-left: 20px;
}

.activa { /* IDEA: la pagina activa queda sin el subrayado */
	text-decoration: none;
}

#central {/* IDEA: configuracion de la imagen central */
	display: flex;
	flex-direction: column;
  align-items:center;
  background-color: #82c3a6;
}
#central > img{
	margin: 20px;
	width: 80%;
}

.izquierda {
	display: block;

	flex-direction: column;
	margin: 20px;

}
.derecha {
	display: block;

	flex-direction: column;
	margin: 20px;

}


.secundaria {/* IDEA: configuracion de las imagenes secundarias */
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	background-color: #d5c75f;
	width: 100%
}

.izquierda > img {
	max-width: 90%;
}
.derecha > img {
	max-width: 90%;
}


.izquierda img {
	transition-property: transform;
	transition-duration: 1s;
}
.izquierda img:hover {
	transform: rotate(10deg);
	-webkit-box-shadow: 2px 2px 2px #82c3a6;
}

.derecha img {
	transition-property: transform;
	transition-duration: 1s;
}
.derecha img:hover {
	transform: translate(20px, -5px);
	-webkit-box-shadow: 2px 2px 2px #82c3a6;
}

.pie {
	display: flex;
	flex-direction: row;
  align-items: baseline;
  background-color:  #C6d5c5;
  color: black;
  border-radius: 0 0 10px 10px;
}
#titulo {
	font-size: 2em;
}
.pie #contacto {
	width: 25%;
	margin: 10px;
	text-align: center;
}
